<div class="font1 my-container container-fluid mt-4 pb-4">

  <!--Titulo-->
  <div class="row mb-3">
    <div class="title col-sm-12 my-title-container">
      <h1 class="">Ofertas de Empleo</h1>  
    </div>
  </div>


  <!--Body-->
<div class="row">

  <div class="col-sm-6 mb-3" *ngFor="let job of jobs">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-capitalize">{{job.occupation.toLocaleLowerCase()}}</h5>
        <p class="card-text">{{job.description}}</p>
        <div class="row">
        <a href="#" class="btn btn-primary col-4 ml-2">Ver más
          <i class="ml-2 fas fa-caret-right"></i>
        </a>
        <p class="card-text"><small class="text-muted ml-3">Publicado hace: 3 mins ago</small></p>
      </div>
      </div>
    </div>
  </div>
  
</div>