.aside-bar{
  background-color: #f8f9fa !important;
}

.container2{
  background: #3d3d3d88;
}

.png{
  filter: drop-shadow(4px 5px 3px #00000026);
}


.png:hover{
  transform:scale(1.05);
  filter: drop-shadow(7px 8px 3px #00000034);
}

.container3{
  background: blanchedalmond;
  border-radius: 5px;
  padding: 10px;

}