<div class="row mt-3">

  <!--Barra lateral-->
  <div class="aside-bar col-3 container">
    <img src="/assets/img/users/cristina.jpg" alt="..." class="img-thumbnail mt-3">
    <span>Abogada</span>
    <nav id="scroll1" class="navbar navbar-light bg-light active" >
      <nav class="nav nav-pills flex-column">
        <a class="nav-link active" href="#item-1">Item 1</a>
        <nav class="nav nav-pills active flex-column">
          <a class="nav-link ml-3 my-1" href="/userdetails/#item-1-1">Item 1-1</a>
          <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
        </nav>
        <a class="nav-link" href="/userdetails/#aficiones">Aficiones</a>
        <a class="nav-link" href="#item-3">Animal Favorito</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" routerLink="/userdetails/#item-3-1" href="#item-3-1">Item 3-1</a>
          <a class="nav-link ml-3 my-1" href="/userdetails/#item-3-2">Item 3-2</a>
        </nav>
      </nav>
    </nav>
  </div>

  <!--Descripción Candidatos-->
  
  <div class="container2 col-9">
    <div class="tarjetas mt-3 card-columns">

      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-danger">
          <h5 class="card-title">Danger card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="card border-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div>


 

    </div>
  </div>
  <!--
    <div class="container2 col-9">
    <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
      <h4 id="item-1">Item 1</h4>
      <p>...</p>
      <h5 id="item-1-1">Item 1-1</h5>
      <p>...</p>
      <h5 id="item-1-2">Item 1-2</h5>
      <p>...</p>

      <div class="container3">
        <h4 id="aficciones">Aficiones</h4>
        <p>¿Qué le gusta hacer en su tiempo libre?</p>
        <img src="/assets/img/animals/cine.png" alt="..." title="cine" class="png">
        <img src="/assets/img/animals/patinar.png" alt="..." title="patinar" class="png">
    </div>

      <h4 id="item-3">Animal Favorito</h4>
      <img src="/assets/img/animals/perro.png" alt="..." title="perro" class="png">
      <p>...</p>
      <h5 id="item-3-1">Item 3-1</h5>
      <p>...</p>
      <h5 id="item-3-2">Item 3-2</h5>
      <p>...</p>
    </div>
  </div>
-->
</div>