<!--
<div class="justify-content-center mt-5">


  <h1 class="text-center text-white">Inicio de sesión</h1>


  <div class="container align-content-center">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="gato@gmail.com">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Constraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="****************">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>
</div>


-->


<form class="form-signin card my-5 bg-style">


  <h1 class="h3 mb-3 font-weight-normal text-center">
      Por favor, inicia sesión
  </h1>
  
  <label for="inputUsername" class="sr-only">Usuario</label>
  <input [(ngModel)]="credentials.username" type="text" class="form-control my-2" name="username" id="username" placeholder="Usuario" autofocus required>
  
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input [(ngModel)]="credentials.password" type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>

  <input (click)='login()' type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar sesión">


</form>