@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tilt-in-left-1 {
  0% {
    transform: rotateZ(2deg) translateX(-30px) skewX(-2deg);
    opacity: 0;
  }
  100% {
    transform: rotateZ(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-top-1 {
  0% {
    transform:  translateY(-30px) ;
    opacity: 0;
  }
  100% {
    transform:  translateY(0) ;
    opacity: 1;
  }
}
