<!-- VALIDACIONES -->
<div class="container" *ngIf="this.userService.validaciones?.length>0">
  <div class="alert alert-danger" role="alert" *ngFor="let validacion of this.userService.validaciones">
    {{validacion}}
  </div>
</div>

<div class="my-container container-fluid mt-4">

     <!--Titulo-->
     <div class="row mb-3">
      <div class="title col-sm-12 my-title-container">
          <h1 *ngIf="!user.idUser">Crear Usuario</h1>
          <h1 *ngIf="user.idUser">Editar Usuario</h1>
      </div>
    </div>

            

          <!--Alertas Formulario no Válido-->
        
          <!--Campos obligatorios-->
          <div class="alert alert-danger fade-in-top" *ngIf="(user_name.invalid && user_name.touched && user_name.errors.required)
          || (pass.invalid && pass.touched && pass.errors.required)
          || (correo.invalid && correo.touched) || (fecha.invalid && fecha.touched) || (pais.invalid && pais.touched)
          || (roll.invalid && roll.touched) || (last.invalid && last.touched)"> 
          <div>
            Todos los campos de este formulario son obligatorios
          </div>
        </div>

        <!--Campos con un mínimo de caracteres-->
        <div class="alert alert-danger fade-in-top" *ngIf="(user_name.invalid && user_name.touched && user_name.errors.minlength)
        || (pass.invalid && pass.touched && pass.errors.minlength)
        || (last.invalid && last.touched && last.errors.minlength)"> 
        <div>
          Los campos nombre, apellido y contraseña requieren un mínimo de 3 caracteres
        </div>
      </div>

        <!--Correo con formato no válido-->
        <div class="alert alert-danger fade-in-top" *ngIf="(correo.invalid && correo.touched && correo.errors.email)"> 
        <div>
          El correo no tiene un formato válido
        </div>
      </div>



  <!-- CONTENEDOR PRINCIPAL -->
  <div class="container-fluid p-4  form-font">

    <div class="card">

      <!-- BODY -->
      <div class="card-body">
    <button type="button" class="close" aria-label="Close" (click)='return()'>
      <span aria-hidden="true" class="">&times;</span>
    </button>
    


      <div class="container">
     
          <form #userForm="ngForm">

            <!--Fila 1-->
            <div class="row">

              <div class="col-1"></div>

              <div class="col-5">
                <div class="form-group row">
                  <label for="username" class="col-form-label col-4">Nombre</label>
                  <div class="col input-group">
                    <input type="text" class="form-control" [(ngModel)]="user.name" name="username" required minlength="3" #user_name="ngModel">
                    <div class="input-group-append" *ngIf="user_name.invalid && (user_name.dirty || user_name.touched)">
                      <span class="input-group-text alert-danger" *ngIf="user_name.errors.required || user_name.errors.minlength">X</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-5">
                <div class="form-group row" id="show_hide_password">
                  <label for="pass" class="col-form-label col-4">Apellido</label>
                  <div class="input-group col">
                    <input type="text" id="toggle" class="form-control" [(ngModel)]="user.lastname" name="lastname" minlength="3" required #last="ngModel">
                    <div class="input-group-append" *ngIf="last.invalid && (last.dirty || last.touched)">
                      <span class="input-group-text alert-danger" *ngIf="last.errors.required || last.errors.minlength">X</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!--Fila 2-->
            <div class="row">

              <div class="col-1"></div>

              <div class="col-5">
                <div class="form-group row">
                  <label for="correo" class="col-form-label col-4">Correo</label>
                  <div class="col input-group">
                    <input type="email" class="form-control" [(ngModel)]="user.mail" name="mail" required email #correo="ngModel">
                    <div class="input-group-append" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                      <span class="input-group-text alert-danger" *ngIf="correo.errors.required || correo.errors.email">X</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-5">
                <div class="form-group row" id="show_hide_password">
                  <label for="pass" class="col-form-label col-4">Contraseña</label>
                  <div class="input-group col">
                    <input type="password" id="toggle" class="form-control" [(ngModel)]="user.password" name="password" minlength="3" required #pass="ngModel">
                    <div class="input-group-append" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                      <span class="input-group-text alert-danger" *ngIf="pass.errors.required || pass.errors.minlength">X</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-1"></div>

              <div class="col-5">

                <div class="form-group row">
                  <label for="username" class="col-form-label col-4">Profesión</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="user.occupation" name="username" required>
                  </div>
                </div>

              </div>

              <div class="col-5">

                <div class="form-group row" id="show_hide_password">
                  <label for="pass" class="col-form-label col-4">Experiencia</label>
                  <div class="input-group col">
                    <input type="text" id="toggle" #exp="ngModel" class="form-control" [(ngModel)]="user.experience" name="experiencia" placeholder="15 años" required>
                    <div class="input-group-append" *ngIf="exp.invalid && (exp.dirty || exp.touched)">
                      <span class="input-group-text alert-danger" *ngIf="exp.errors.required">X</span>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          

            <!--Fila 4-->
            <div class="row">

              <div class="col-1"></div>

              <div class="col-5">

                <div class="form-group row">
                  <label for="birthdate" class="col-form-label col-4">Fecha Nac.</label>
                  <div class="col input-group">
                    <input type="date" class="form-control" [(ngModel)]="user.birthdate" name="birthdate" required #fecha="ngModel">
                    <div class="input-group-append" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                      <span class="input-group-text alert-danger" *ngIf="fecha.errors.required">X</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-2">

                <div class="form-group row">
                  <label for="country" class="col-form-label col-5">País</label>
                  <div class="col input-group">
                    <input type="text" class="form-control" [(ngModel)]="user.country" name="country" required #pais="ngModel">
                    <div class="input-group-append" *ngIf="pais.invalid && (pais.dirty || pais.touched)">
                      <span class="input-group-text alert-danger" *ngIf="pais.errors.required">X</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-3">

                <div class="form-group row">
                  <label for="categoria" class="col-form-label col-3">Rol</label>
                  <div class="col">
                    <select name="roles" [compareWith]="compareRoles" class="form-control" [(ngModel)]="user.rol" #roll="ngModel">
                      <option *ngFor="let rolOption of roles" [ngValue]="rolOption">{{ rolOption.name }}</option>
                    </select>
                  </div>
                </div>

              </div>

            </div>

          </form>

          <div class="text-white">

            <button class="btn accept float-right" style="width: 100px;" role="button" (click)='addUser()' *ngIf="!user.idUser else elseBlock" [disabled]="!userForm.form.valid">
              Crear
            </button>
    
            <ng-template #elseBlock>
              <button class="btn accept float-right" style="width: 100px;" role="button" (click)='modifyUser()' [disabled]="!userForm.form.valid">
                Editar
              </button>
            </ng-template>
    
          </div>

        </div>

      </div>

    </div>

  </div>
</div>