.texto{
  display: inline-block;
  margin-left: 20px;
}

.picture{
  width: 174.33px;
  height: 129px;
  border-radius: 5px 0px 0px 5px;
  border-right: 2px solid black;
}

.t{
  margin-top: 1px;
  margin-bottom: 1px;
}

#char-details .card{
  color: white;
  background: #163455c2;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #3F3C3C;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

#char-details .card:hover{
  background:#FC9256d3;
  border: 1px solid black;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 10px #9E9E9E;
}

.title{
  color: white;
  background:rgba(27, 34, 109, 0.85);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #3F3C3C;
}