@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap'); /*font1*/
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');

html{
  position: relative;
  min-height: 100%;
}

body{
  padding-bottom: 5%;
  background: linear-gradient(rgb(161, 237, 250), rgb(255, 255, 255));
  background-image:url("./assets/img/img5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Serif', serif;
}

.font1{
  font-family: 'Merriweather', serif;
}

.font2{
  font-family: 'Markazi Text', serif;
  font-size: 45px;
}