@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap'); /*font1*/
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); /*form*/

html{
  position: relative;
  min-height: 100%;
}

body{
  padding-bottom: 5%;
  background: linear-gradient(rgb(199, 212, 226), rgb(198, 210, 224));
 /* background-image:url("./assets/img/img5.jpg");*/
  /*background-color: #f3f3f4;*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Serif', serif;
}

/*Título*/
.my-title-container{
  font-family: 'Markazi Text', serif;
  font-size: 45px;
  text-align: center;
  color: white;
  background:rgba(27, 34, 109, 0.137);
  box-shadow: 0px 3px 3px 0px rgba(37, 36, 36, 0.459);
  border-bottom: 1px solid white;

}

.font1{
  font-family: 'Merriweather', serif;
}

.font2{
  font-family: 'Markazi Text', serif;
  font-size: 45px;
}


/*Cuerpo Generico*/
.my-container{
  background: #3d3d3d88;
  box-shadow: inset 0px 0px 2px 1px rgb(112, 115, 122);
  animation: fade-in 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: -1px 1px 0 #000, 
              1px 1px 0 #000, 
              1px -1px 0 #000,
              -1px -1px 0 #000;
 

}

/*Cuerpo Formulario*/
.my-form{
  background-color: rgba(4, 8, 37, 0.808);
  padding: 50px;
  color: white;
  font-family: 'PT Serif', serif;
  border-radius: 20px;
 /* width: 60%;*/
  box-shadow: 4px 3px 2px black;
}

.table-font{
  font-family: 'Markazi Text', serif;
  font-size: 22px;
  font-weight: normal !important;
  text-align: center;
}

.form-font{
  font-family: 'Merriweather', serif;
}

/*.supercard > .card:hover{
  box-shadow: 7px 8px 3px #00000034;
  transform:scale(1.05);
}*/

.card:hover{
  box-shadow: 7px 8px 3px #00000034;
  transform:scale(1.05);
}